h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: italic;
  }
  
  #amarelo{
    background-color: yellow;
  }

  #vermelho{
    background-color: red;
  }
  #marrom{
    background-color: brown;
  }

  .estilo-texto{
    background-color: crimson;
  }
  p{
    font-weight: 600;
    font-size:3em;
    text-align: center;
    text-decoration:line-through;
  }
  body{
    font-size: 16px;
  }